body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

main {
  flex: 1;
}

.date_time_info {
  background-color: rgba(181, 181, 181, 1) !important;
}

.date_time_info span {
  left: 128px;
  position: relative;
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
}

.synocast_logo {
  height: 73.3px;
  width: 181px;
  top: 25px;
  left: 77px;
}

.nav_text {
  font-weight: 600;
  line-height: 100%;
}

.navbar {
  background-color: #fefaf9 !important;
  padding: 0;
}
.nav-link:hover,
.nav-link.active {
  font-weight: 600 !important;
  color: rgba(105, 55, 245, 1) !important;
}

.header_card {
  border: none;
  border-radius: 0%;
  background: #e7e4e3;
}

.footer_icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

.footer_icon_div {
}

.footer_item {
  margin: 1.5rem;
}

.footer_item span {
  color: rgba(105, 55, 245, 1);
  font-weight: bold;
}

.banner_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.banner_image_text {
  display: grid;
  width: 431px;
  height: 138px;
  gap: 40px !important;
  top: 32% !important;
  left: 27.5% !important;
}

.banner_image_text_news {
  left: 72.5% !important;
}

.banner_image_text span {
}

.news_sub_banner .col-8 .card,
.news_sub_banner .col-4 .card {
  width: 100%;
  border: none;
  text-align: left;
}

.news_sub_banner .col-8 .card .card-body {
  padding: 0;
}

.news_sub_banner .col-8,
.news_sub_banner .col-4 {
  padding: 5%;
}

.card .card-link  {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(105, 55, 245, 1) !important;
}

.news_sub_banner .col-8 .card .card-body .card-title,
.news_sub_banner .col-4 .card .card-body .card-title {
  font-size: 16px;
  font-weight: 600;
}

.news_sub_banner .col-8 .card .card-body .card-text {
  font-size: large;
}

.sub_heading {
  font-weight: 500;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.breaking_news_section .card,
.featured_news_section .card  {
  border: none;
}
.grey_color {
  color:rgba(94, 94, 94, 1) !important;
}

.fs-7 {
  font-size: 12px !important;
}