body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: rgb(254, 250, 249);
}

main {
  flex: 1;
}

.date_time_info {
  background-color: rgba(181, 181, 181, 1) !important;
}

.date_time_info span {
  left: 128px;
  position: relative;
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
}

.synocast_logo {
  height: 73.3px;
  width: 181px;
  top: 25px;
  left: 77px;
}

.nav_text {
  font-weight: 600;
  line-height: 100%;
}

.navbar {
  background-color: #fefaf9 !important;
  padding: 0;
}
.nav-link:hover,
.nav-link.active {
  font-weight: 600 !important;
  color: rgba(105, 55, 245, 1) !important;
}

.header_card {
  border: none;
  border-radius: 0%;
  background: #e7e4e3;
}

.footer_icon,
.home_banner_3 .icon {
  width: 24px;
  height: 24px;
  margin: 30px 8px;
}

.home_banner_3 .icons {
  left: 10%;
}

.footer_icon_div {
}

.footer_item span {
  color: rgba(105, 55, 245, 1);
  font-weight: bold;
}

.banner_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.banner_image_text {
  display: grid;
  width: 431px;
  height: 138px;
  gap: 40px !important;
  top: 32% !important;
  left: 27.5% !important;
}

.banner_image_text_news {
  left: 72.5% !important;
}

.banner_image_text span {
}

.news_sub_banner .col-8 .card,
.news_sub_banner .col-4 .card {
  width: 100%;
  border: none;
  text-align: left;
}

.news_sub_banner .col-8 .card .card-body {
  padding: 0;
}

.news_sub_banner .col-8,
.news_sub_banner .col-4 {
  padding: 5%;
}

.card .card-link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(105, 55, 245, 1) !important;
}

.news_sub_banner .col-8 .card .card-body .card-title,
.news_sub_banner .col-4 .card .card-body .card-title {
  font-size: 16px;
  font-weight: 600;
}

.news_sub_banner .col-8 .card .card-body .card-text {
  font-size: large;
}

.home_banner_2.sub_heading {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.home_banner_2 .sub_heading_2 {
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.breaking_news_section .card,
.featured_news_section .card {
  border: none;
}
.grey_color {
  color: rgba(94, 94, 94, 1) !important;
}

.fs-7 {
  font-size: 12px !important;
}

.btn_explore,
.btn_get_started {
  border-radius: 100px;
  gap: 10px;
  opacity: 1;
  border-width: 2px;
  padding: 8px 70px;
  border: 2px solid rgba(105, 55, 245, 1);
  color: rgba(105, 55, 245, 1);
  margin-top: 1.5rem;
}

.btn_explore:hover {
  background-color: rgba(105, 55, 245, 1);
  color: white;
  border: 2px solid rgba(105, 55, 245, 1);
}

.btn_get_started {
  background-color: rgba(105, 55, 245, 1);
  color: white;
}

.btn_get_started:hover {
  background: transparent;
  border: 2px solid rgba(105, 55, 245, 1);
  color: rgba(105, 55, 245, 1);
}

.home_banner_2 img {
  align-self: flex-end;
}

.home_banner_2 .card {
  border-radius: 10px;

}

.home_banner_2 .card {
  width: 22rem;
  top: -310px;
}

.home_banner_2 .card-title {
  width: 90px;
  height: 23px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 2%;
  color: rgba(105, 55, 245, 1);
  position: relative;
  left: 6rem;
}

.home_banner_2 .card-img-top-1 {
  width: 17.961814880371094px;
  height: 17.961814880371094px;
}

