{% extends "base.html" %} {% block title %} Home {% endblock title %} {% block
body %}

<div class="position-relative">
  <img src="/assests/banner-home.png" class="img-fluid banner_image" alt="Banner" />
  <div class="position-absolute bottom-0 start-50 translate-middle-x text-white banner-subtitle banner_image_text">
    <h1 class="fw-bold lh-1">
      WeatherTrip
    </h1>
    <p class="fw-normal fs-4">
      Your Weather, Your Journey: Always a Step Ahead with Our
      <span class="fw-bold">Weather Forecasting App!</span>
    </p>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="mb-5 w-50">
        <span class="sub_heading">Stay prepared for upcomming weather with <span class="fw-semibold">daily wheather news.</span></span>
        <a href="/news" type="button" class="btn btn-outline-secondary btn_explore">Explore</a>
      </div>
      <img src="/assests/weatherTrip-banner 1.svg" class="img-fluid" alt="Home Image 1" />
    </div>
    <div class="col-6">

    </div>
  </div>
</div>

<div class="position-relative mt-3">
  <img src="/assests/banner-news.png" class="img-fluid banner_image" alt="Banner" />
  <div
    class="position-absolute bottom-0 start-50 translate-middle-x text-white banner-subtitle banner_image_text banner_image_text_news">
    <h1 class="fw-bold lh-1">WeatherTrip<span class="fs-6">.news</span></h1>
    <p class="fw-normal fs-4">
      Your guide to weather: Accurate forecasts, storm warnings, tips for
      preparing and more.
    </p>
  </div>
</div>

<div class="container mt-3 breaking_news_section">
  <div>
    <span class="sub_heading">Breaking News</span>
  </div>

  <div class="text-center mt-5">
    <div class="row justify-content-md-center">
      <div class="col-4">
        <div class="card">
          <img src="/assests/breaking-news-1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row mt-1 mb-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">11/19/2025</span>
              </div>
              <div class="col-6 text-start fw-semibold">
                <span class="fs-7">BBC News</span>
              </div>
            </div>
            <div class="text-start">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="row mt-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">Auther Name</span>
              </div>
              <div class="col-6 text-end">
                <a href="#" class="card-link">Article link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="/assests/breaking-news-2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row mt-1 mb-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">11/19/2025</span>
              </div>
              <div class="col-6 text-start fw-semibold">
                <span class="fs-7">BBC News</span>
              </div>
            </div>
            <div class="text-start">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="row mt-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">Auther Name</span>
              </div>
              <div class="col-6 text-end">
                <a href="#" class="card-link">Article link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="/assests/breaking-news-3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row mt-1 mb-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">11/19/2025</span>
              </div>
              <div class="col-6 text-start fw-semibold">
                <span class="fs-7">BBC News</span>
              </div>
            </div>
            <div class="text-start">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="row mt-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">Auther Name</span>
              </div>
              <div class="col-6 text-end">
                <a href="#" class="card-link">Article link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container mt-5 featured_news_section">
  <div>
    <span class="sub_heading">Featured News</span>
  </div>

  <div class="text-center mt-5">
    <div class="row justify-content-md-center">
      <div class="col-6">
        <div class="card">
          <img src="/assests/featured-new-1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row mt-1 mb-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">11/19/2025</span>
              </div>
              <div class="col-6 text-start fw-semibold">
                <span class="fs-7">BBC News</span>
              </div>
            </div>
            <div class="text-start">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="row mt-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">Auther Name</span>
              </div>
              <div class="col-6 text-end">
                <a href="#" class="card-link">Article link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <img src="/assests/featured-new-2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row mt-1 mb-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">11/19/2025</span>
              </div>
              <div class="col-6 text-start fw-semibold">
                <span class="fs-7">BBC News</span>
              </div>
            </div>
            <div class="text-start">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="row mt-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">Auther Name</span>
              </div>
              <div class="col-6 text-end">
                <a href="#" class="card-link">Article link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock body %}