{% extends "base.html" %} {% block title %} Home {% endblock title %} {% block
body %}

<div class="position-relative">
  <img
    src="/assests/banner-home.png"
    class="img-fluid banner_image"
    alt="Banner"
  />
  <div class="position-absolute bottom-0 start-50 translate-middle-x text-white banner-subtitle banner_image_text">
  <h1 class="fw-bold lh-1">
    WeatherTrip
  </h1>
  <p class="fw-normal fs-4">
    Your Weather, Your Journey: Always a Step Ahead with Our
    <span class="fw-bold">Weather Forecasting App!</span>
  </p>
  </div>
</div>

<!-- Add Data -->

<div class="position-relative">
  <img src="/assests/banner-news.png" class="img-fluid banner_image" alt="Banner" />
  <div
    class="position-absolute bottom-0 start-50 translate-middle-x text-white banner-subtitle banner_image_text banner_image_text_news">
    <h1 class="fw-bold lh-1">WeatherTrip<span class="fs-6">.news</span></h1>
    <p class="fw-normal fs-4">
      Your guide to weather: Accurate forecasts, storm warnings, tips for
      preparing and more.
    </p>
  </div>
</div>

{% endblock body %}
