{% extends "base.html" %} {% block title %} News {% endblock title %} {% block
body %}

<div class="position-relative">
  <img src="/assests/banner-news.png" class="img-fluid banner_image" alt="Banner" />
  <div
    class="position-absolute bottom-0 start-50 translate-middle-x text-white banner-subtitle banner_image_text banner_image_text_news">
    <h1 class="fw-bold lh-1">WeatherTrip<span class="fs-6">.news</span></h1>
    <p class="fw-normal fs-4">
      Your guide to weather: Accurate forecasts, storm warnings, tips for
      preparing and more.
    </p>
  </div>
</div>

<div class="container text-center mt-5 news_sub_banner">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
            content.</p>
        </div>
        <img src="/assests/sub-banner-news.png" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
            content.</p>
          <a href="#" class="card-link">Article link</a>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
            content.</p>
          <a href="#" class="card-link">Article link</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
            content.</p>
          <a href="#" class="card-link">Article link</a>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
            content.</p>
          <a href="#" class="card-link">Article link</a>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
</div>