{% extends "base.html" %} {% block title %} News {% endblock title %} {% block
body %}

<div class="position-relative">
  <img src="/assests/images/banner-news.png" class="img-fluid banner_image" alt="Banner" />
  <div
    class="position-absolute bottom-0 start-50 translate-middle-x text-white banner-subtitle banner_image_text banner_image_text_news">
    <h1 class="fw-bold lh-1">WeatherTrip<span class="fs-6">.news</span></h1>
    <p class="fw-normal fs-4">
      Your guide to weather: Accurate forecasts, storm warnings, tips for
      preparing and more.
    </p>
  </div>
</div>

<div class="container text-center mt-5 news_sub_banner">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur. Amet tortor tempor feugiat elementum. Faucibus
            faucibus tempor habitasse amet auctor. Sit lorem a cursus a. Donec vitae massa et lectus dolor in.</p>
          <div class="row mt-2 mb-2">
            <div class="col-6 text-start">
              <span class="grey_color fs-7">Auther Name</span>
            </div>
            <div class="col-6 text-end">
              <a href="#" class="card-link">Article link</a>
            </div>
          </div>
        </div>
        <img src="/assests/images/sub-banner-news.png" class="card-img-top" alt="...">
      </div>

    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
            content.</p>
          <a href="#" class="card-link">Article link</a>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
            content.</p>
          <a href="#" class="card-link">Article link</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
            content.</p>
          <a href="#" class="card-link">Article link</a>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
            content.</p>
          <a href="#" class="card-link">Article link</a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3 breaking_news_section">
  <div>
    <span class="sub_heading fw-bold">Breaking News</span>
  </div>

  <div class="text-center mt-5">
    <div class="row justify-content-md-center">
      <div class="col-4">
        <div class="card">
          <img src="/assests/images/breaking-news-1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row mt-1 mb-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">11/19/2025</span>
              </div>
              <div class="col-6 text-start fw-semibold">
                <span class="fs-7">BBC News</span>
              </div>
            </div>
            <div class="text-start">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="row mt-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">Auther Name</span>
              </div>
              <div class="col-6 text-end">
                <a href="#" class="card-link">Article link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="/assests/images/breaking-news-2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row mt-1 mb-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">11/19/2025</span>
              </div>
              <div class="col-6 text-start fw-semibold">
                <span class="fs-7">BBC News</span>
              </div>
            </div>
            <div class="text-start">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="row mt-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">Auther Name</span>
              </div>
              <div class="col-6 text-end">
                <a href="#" class="card-link">Article link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="/assests/images/breaking-news-3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row mt-1 mb-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">11/19/2025</span>
              </div>
              <div class="col-6 text-start fw-semibold">
                <span class="fs-7">BBC News</span>
              </div>
            </div>
            <div class="text-start">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="row mt-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">Auther Name</span>
              </div>
              <div class="col-6 text-end">
                <a href="#" class="card-link">Article link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container mt-5 featured_news_section">
  <div>
    <span class="sub_heading fw-bold">Featured News</span>
  </div>

  <div class="text-center mt-5">
    <div class="row justify-content-md-center">
      <div class="col-6">
        <div class="card">
          <img src="/assests/images/featured-new-1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row mt-1 mb-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">11/19/2025</span>
              </div>
              <div class="col-6 text-start fw-semibold">
                <span class="fs-7">BBC News</span>
              </div>
            </div>
            <div class="text-start">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="row mt-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">Auther Name</span>
              </div>
              <div class="col-6 text-end">
                <a href="#" class="card-link">Article link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <img src="/assests/images/featured-new-2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row mt-1 mb-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">11/19/2025</span>
              </div>
              <div class="col-6 text-start fw-semibold">
                <span class="fs-7">BBC News</span>
              </div>
            </div>
            <div class="text-start">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="row mt-2">
              <div class="col-6 text-start">
                <span class="grey_color fs-7">Auther Name</span>
              </div>
              <div class="col-6 text-end">
                <a href="#" class="card-link">Article link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock body %}