<div class="card mb-5 ">
    <div class="card-body ">
        <h5 class="card-title">Islamabad</h5>
        <img src="/assests/mockupWeather-Sub-banner.png" class="card-img-top" alt="mockupWeather-Sub-banner">
        <div class="row">
            <div class="col-6">
                <p class="fs-6 mt-2 mb-1 fw-bold ">Today</p>
                <p class="fs-7 mb-1">24 Jun, Friday</p>
                <div>
                    <div class="row mt-3  ">
                        <div class="col-3">
                            <img src="/assests/Vector-sub-banner.png" class="card-img-top-1" alt="Vector-sub-banner">
                        </div>
                        <div class="col-9 px-0">
                            <p class="mb-0">Clean</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-3">
                            <img src="/assests/wind-sub-banner.png" class="card-img-top-1" alt="wind-sub-banner">
                        </div>
                        <div class="col-9 px-0">
                            <p class="mb-0">10.6 km/h</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <img src="/assests//cloud-rain-sub-banner.png" class="card-img-top-1" alt="cloud-rain-sub-banner">
                        </div>
                        <div class="col-9 px-0 ">
                            <p class="mb-0">24%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>